.card {
  background: #40cbe3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  line-height: 1;
}
.card.selected {
  background: rgba(126, 110, 227, 0.59);
}

.card.removed {
  opacity: 0;
  transition: all .5s .5s linear;
}

.card:nth-last-child(16), .card:nth-last-child(16):first-child ~ .card {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.card:nth-last-child(36), .card:nth-last-child(36):first-child ~ .card {
  width: 90px;
  height: 90px;
  margin-bottom: 12px;
}

.card:nth-last-child(64), .card:nth-last-child(64):first-child ~ .card {
  width: 74px;
  height: 74px;
  margin-bottom: 4px;
}
